<%= exercise.numbers.map { |n| "<span class='factor'>#{n}</span>" }.join(" + ").html_safe %>
=
<span style="width: <%= (@puzzle.line_range_to.to_s.length * 2)%>ex; border-bottom: 1px solid black; display: inline-block;"></span>
