<nav class="max-w-screen-lg container print:hidden mx-auto mt-4 px-5" aria-label="Breadcrumb">
  <div>
    <ol class="list-reset flex">
      <% @crumbs.each_with_index do |crumb, idx| %>
        <li class="after:content-['>'] after:px-2 last:after:content-['']">
          <%= link_to crumb[:path], class: "underline" do %>
            <%= crumb[:text] %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
</nav>
