<div class="kids-puzzles-content">
  <table class="kids-puzzles-puzzle kids-puzzles-maths-grid" style="width: 100%">
    <% @maths_grid.cells.each do |row| %>
      <tr class="kids-puzzles-maths-grid-row">
        <% row.each do |cell| %>
          <% @cell = cell %>
          <td class="kids-puzzles-maths-grid-cell">
            <p>
              <%= render cell_component_class(type: cell.type)
                    .new(equation: cell, show_answers:) %>
            </p>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <% if @maths_grid.reward.present? %>
    <div class="kids-puzzles--reward">
      Reward: <%= @maths_grid.reward %>
    </div>
  <% end %>

</div>
