<div class="empuzzle-content">
  <table class="empuzzle-puzzle empuzzle-arithmetic-grid" style="width: 100%">
    <% @maths_grid.cells.each do |row| %>
      <tr class="empuzzle-arithmetic-grid-row">
        <% row.each do |cell| %>
          <% @cell = cell %>
          <td class="empuzzle-arithmetic-grid-cell">
            <p>
              <%= render cell_component_class(type: cell.type)
                    .new(equation: cell, show_answers:) %>
            </p>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <% if @maths_grid.reward.present? %>
    <div class="empuzzle--reward">
      Reward: <%= @maths_grid.reward %>
    </div>
  <% end %>

</div>
