<%= equation.numbers.map { |factor| "<span class='factor'>#{factor}</span>" }.join(" x ").html_safe %>
=
<span style="width: <%= 3 * results_max_length %>ex; border-bottom: 1px solid black; display: inline-block;"></span>
