<div class="empuzzle-content">
  <div class="empuzzle-puzzle empuzzle-number-line-maths">
    <% puzzle.cells.each do |equation| %>
      <div class="empuzzle-number-line-maths-line">
        <span class="empuzzle-number-line-maths-equation">
          <%= render AdditionCellComponent.new(equation:, show_answers:) %>
        </span>
        <span class="empuzzle-number-line-maths-actual-number-line">
          <%= render NumberLineComponent.new(puzzle:) %>
        </span>
      </div>
    <% end %>
  </div>

  <% if puzzle.reward.present? %>
    Reward: <%= puzzle.reward %>
  <% end %>
</div>
