<%= equation.numbers.map { |n| "<span class='kids-puzzles-number'>#{n}</span>" }.join(" - ").html_safe %>
=
<span style="width: <%= 3 * results_max_length%>ex; border-bottom: 1px solid black; display: inline-block;">
</span>
