<%= equation.numbers.map { |n| "<span class='kids-puzzles-number'>#{n}</span>" }.join(" + ").html_safe %>
=
<span style="width: <%= 2 * puzzle_addition_results_max_length(puzzle)%>ex; border-bottom: 1px solid black; display: inline-block;"></span>
