<%= equation.factors.map { |factor| "<span class='factor'>#{factor}</span>" }.join(" x ").html_safe %>
=
<span style="width: <%= 2 * puzzle_multiplication_results_max_length(puzzle)%>ex; border-bottom: 1px solid black; display: inline-block;"></span>
