<%= render "puzzles/maths_grid/form" %>

<hr>

<div class="kizzle-content">
<table class="kizzle-puzzle kizzle-maths-grid">
<% @kizzle.cells.each do |row| %>
    <tr class="kizzle-maths-grid-row">
    <% row.each do |cell| %>
        <% @cell = cell %>
        <td class="kizzle-maths-grid-cell">
            <%= render "puzzles/maths_grid/#{cell.type}_cell" %>
        </td>
    <% end %>
    </tr>
<% end %>
</table>
</div>
