/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.kids-puzzles-maths-grid, .kids-puzzles-maths-grid-cell {
    border: 2px solid black;
    border-collapse: collapse;
}

.kids-puzzles-maths-grid-cell {
    /* padding-top: 2em; */
    /* padding-bottom: 0.5em; */
    padding-left: 2ex;
    /* padding-right: 6ex; */
    height: 5em;
    text-align: left;
    vertical-align: middle;
}

.kids-puzzles-setup dl {
    display: table;
}

div.kids-puzzles-setup-field  {
    display: table-row;
}

.kids-puzzles-setup-field dt, .kids-puzzles-setup-field dd {
    display: table-cell;
    padding: 0.5em;
}

.kids-puzzles-setup-field input {
    width: 8ex;
}

.kids-puzzles-number-line-maths {
    border: 2px solid black;
    border-collapse: collapse;
    display: table;
}
.kids-puzzles-number-line-maths-line {
    border: 2px solid black;
    display: table-row;
}

.kids-puzzles-number-line-maths-equation {
    width: 8em;
    padding: 1em;
    border: 2px solid black;
    display: table-cell;
}

.kids-puzzles-number-line-maths-actual-number-line {
    padding: 1em;
    padding-top: 4em;
    border: 2px solid black;
    display: table-cell;
}

.kids-puzzles-reward {
    text-align: center;
}

@media print {
    form, hr, #back-link {
        display: none;
    }

    .kids-puzzles-puzzle {
        margin-left: auto;
        margin-right: auto;
    }
}
