/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.empuzzle-arithmetic-grid,
.empuzzle-arithmetic-grid-cell {
  border: 2px solid black;
  border-collapse: collapse;
}

.empuzzle-arithmetic-grid-cell {
  /* padding-top: 2em; */
  /* padding-bottom: 0.5em; */
  padding-left: 2ex;
  /* padding-right: 6ex; */
  height: 5em;
  text-align: left;
  vertical-align: middle;
}

.empuzzle-setup dl {
  display: table;
}

div.empuzzle-setup-field {
  display: table-row;
}

.empuzzle-setup-field dt,
.empuzzle-setup-field dd {
  display: table-cell;
  padding: 0.5em;
}

.empuzzle-setup-field input {
  width: 8ex;
}

.empuzzle-number-line-maths {
  border: 2px solid black;
  border-collapse: collapse;
  display: table;
}
.empuzzle-number-line-maths-line {
  border: 2px solid black;
  display: table-row;
}

.empuzzle-number-line-maths-equation {
  width: 8em;
  padding: 1em;
  border: 2px solid black;
  display: table-cell;
}

.empuzzle-number-line-maths-actual-number-line {
  padding: 1em;
  padding-top: 4em;
  border: 2px solid black;
  display: table-cell;
}

.empuzzle-reward {
  text-align: center;
}

.empuzzle-visually-hidden {
  display: none;
}

@media print {
  form,
  hr,
  #back-link {
    display: none;
  }

  .empuzzle-puzzle {
    margin-left: auto;
    margin-right: auto;
  }
}
