<% content_for :content do %>
  <h1><%= content_for :title %></h1>

  <div class="flex">
    <div class="flex-none w-48">
      <%= content_for :sidebar %>
    </div>
    <div class="flex-auto">
      <%= content_for :main %>
    </div
  </div>
<% end %>

<%= render template: 'layouts/application' %>
