<% content_for :nav do %>
  <%= render BreadcrumbsComponent.new([
    { text: "Home", path: puzzles_path },
    { text: "New #{@puzzle.type_name} puzzle" }
  ]) %>
<% end %>

<% content_for :title do %>
  <%= @puzzle.type_name %>
<% end %>

<h2 class="ml-0"><%= t "puzzle_setup" %></h2>

<% content_for :content do %>
  <%= render PuzzleFormComponent.new(puzzle: @puzzle) %>
<% end %>
