<div class="kids-puzzles-content">
<div class="kids-puzzles-puzzle kids-puzzles-number-line-maths">
    <% @puzzle.equations.each do |equation| %>
    <div class="kids-puzzles-number-line-maths-line">
        <span class="kids-puzzles-number-line-maths-equation">
            <%= render "puzzles/number_line_maths/#{equation.type}_line", equation: equation %>
        </span>
        <span class="kids-puzzles-number-line-maths-actual-number-line">
            <%= render "number_line", puzzle: @puzzle %>
        </span>
    </div>
<% end %>
</div>

<% if @reward.present? %>
    Reward: <%= @reward %>
<% end %>

</div>

<hr>

<%#= render "puzzles/maths_grid/form" %>
