<% content_for :before_main do %>
  <%= render BreadcrumbsComponent.new([
    { text: "Home", path: puzzles_path },
  ]) %>
<% end %>

<% content_for :title do %>
  <div class="print:hidden">
    <%= @puzzle.type_name %>
  </div>
<% end %>

<% content_for :content do %>
  <%= render @puzzle_component.new(puzzle: @puzzle) %>
<% end %>
