<% content_for :nav do %>
  <%= render BackLinkComponent.new(text: "new puzzle", route: new_puzzle_path(puzzle_type: :maths_grid)) %>
<% end %>

<% content_for :title do %>
  <div class="print:hidden">
    <%= @puzzle.type_name %>
  </div>
<% end %>

<% content_for :content do %>
  <%= render @puzzle_component.new(puzzle: @puzzle) %>
<% end %>
